@import 'fonts.css';

* {
    font-family: 'Open Sans Regular', 'Times New Roman', sans-serif;
    color: #212121;
}

ul.menu, li.menu__item {
    display: block;
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
}

.menu-bar {
    padding: 20px 0;
    background-color: #fff;
}

li.menu__item {
    margin-left: 40px;
}

.menu__item a {
    font-family: 'Open Sans Semibold', 'Times New Roman', sans-serif;
    font-size: 18px;
    color: inherit;
}

.menu__item a:hover {
    text-decoration: none;
    color: #cecece;
}

.subheader{
    background-image: url('../img/header.png');
    background-size: cover;
    background-position: 0 100%;
    padding: 180px 0;
    text-align: center;
}

.subheader h1, .subheader p{
    color: white;
}

.subheader__title {
    font-size: 55px;
    line-height: 1.5em;
}

.subheader__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition-property: all;
    transition-duration: .3s;
    box-shadow: 2px 3px 5px 0px gray;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.button_empty {
    background-color: transparent;
    border: 2px solid white;
}

.button_full {
    background-color: #00897b;
    border-color: #00897b;
}

.button:hover{
    transform: scale(1.1);
}

.button_empty:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.button_full:hover{
    background-color: #08463f;
}

/* about */

.about{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 125px;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
    font-size: 15px;
    line-height: 2em;
}

.about__item-title {
    font-size: 20px;
    margin: 20px 0px 30px;
    font-family: 'Open Sans Semibold', 'Times New Roman', sans-serif;
}

.services{
    text-align: center;
    padding-top: 165px;
    padding-bottom: 125px;
    background-color: #baeee6;
}

.services-card {
    background-color: white;
    padding: 50px 25px 40px;
    transition: all .5s;
    margin-bottom: 30px;
}

.services-card .about__item-title,
.services-card .about__text,
.services-card .icon,
.services-card .services-button{
    transition: inherit;
}

.services-card .icon {
    font-size: 60px;
    color: black;
}

.services-button {
    text-transform: uppercase;
    border: 1px solid black;
    background-color: transparent;
    padding: 14px 12px;
    font-family: 'Open Sans Semibold', sans-serif;
}

.services-card:hover {
    background-color: #00897b;
    box-shadow: 0 10px 12px -3px rgba(0, 0, 0, .25);
}

.services-card:hover .about__item-title,
.services-card:hover .about__text,
.services-card:hover .icon,
.services-card:hover .services-button{
    color: white;
}

.services-card:hover .services-button{
    border-color: white;
    cursor: pointer;
}

.section-header {
    margin-bottom: 125px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 135px;
    text-align: center;
}

.portfolio .button_empty {
    color: black;
    border: none;
}

.portfolio .button_empty:hover{
    background: #00897b;
    color: white;
}

.filter div {
    padding-bottom: 30px;
    transition: transform 1s;
}

.filter div img {
    transition: filter 1s;
}

.filter div:hover img{
    filter: brightness(50%);
}

.filter .text p, 
.filter .text h3 {
    color: white;
}

.filter .text h3 {
    margin-bottom: 0px;
}

.filter {
    padding: 120px 0;
}

.filter .text {
    display: none;
    text-align: center;
}

.filter div:hover .text{
    display: block;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
}

.button.active {
    color: white;
    background-color: #00897b;
}

.pricing {
    padding-top: 125px;
    padding-bottom: 125px;
    text-align: center;
    background-color: #f0f1f1;
}

.price-block {
    background-color: white;
    transition: box-shadow .5s;
}

.price-block header {
    background-image: url('../img/pricing_bg.png');
    padding-top: 40px;
    padding-bottom: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 211px;
    font-size: 50px;
}

.price-block header * {
    color: white;
}

.price-block header h3 {
    font-size: 25px;
}

.price-block header sup {
    font-size: 25px;
    vertical-align: middle;
}

.price-block header sub {
    font-size: 17px;
    vertical-align: middle;
}

.price-block .options{
    font-size: 17px;
}

.price-block .options ul {
    list-style: none;
    padding: 0;
} 

.price-block .options li {
    padding-top: 28px;
    padding-bottom: 12px;
    max-width: 175px;
    margin: 0 auto;
    border-bottom: 1px solid #bfbfbf;
}

.price-block footer{
    padding: 60px 0;
}

.price-block footer button{
    color: black;
    box-shadow: none;
}

.price-block footer button:hover{
    cursor:pointer;
    background-color: #00897b;
    color: white;
}

.price-block:hover {
    box-shadow: 2px 2px 15px 0 gray;
}